<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/carousel_styles.css">
  <script src="/scripts/carousel_script.js" defer></script>
  <title>Document</title>
</head>

<body>
  <section aria-label="Images">

    <div class="carousel" data-carousel>
      <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
      <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
      <ul data-slides>
        <li class="slide" data-active>
          <a href="https://example.com">
          <img img src="https://static.independent.co.uk/2022/03/02/15/best%20console.jpg?quality=75&width=1200&auto=webp"
          alt="Consoles">
        </a>
        </li>
        <li class="slide">
          <a href="https://example.com">
          <img src="https://cdn.eteknix.com/wp-content/uploads/2017/10/steam-800x494.jpg" alt="Games">
        </a>
        </li>
        <li class="slide">
          <a href="https://example.com">
          <img
          src="https://www.cnet.com/a/img/resize/e1f8da5e4cac42f3b95038b9a7d05b8a648af8a4/hub/2019/09/19/c08ea3ba-d393-4e19-a230-9e9a8f0017c9/100-nintendo-switch-accessories-listicle-2019.jpg?auto=webp&fit=crop&height=675&width=1200"
          alt="Accessories">
        </a>
        </li>
      </ul>
    </div>

  </section>
</body>

</html>