<div class="footer">

  <nav id="footer-nav">
    <a id="logo" class="nav-link" href="#">Contact</a>
    <a id="logo" class="nav-link" href="#">Help</a>
    <a id="logo" class="nav-link" href="#">Jobs</a>
    <a id="logo" class="nav-link" href="#">Terms</a>
    <a id="logo" class="nav-link" href="#">Copyright</a>
    <a id="logo" class="nav-link" href="#">accessibility</a>
 </nav>

</div>
