<!-- header to be used for all pages -->
<div class="header">
  <a class="logo" href="/views/index.ejs"><h1>PlayNation</h1></a>

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<ul class="myUL">
  <!-- <li><a href="#">Adele</a></li> -->

</ul>

  <nav class="header-nav">
    <a class="nav-link" href="/views/account.ejs">Account</a>
    <a class="nav-link" href="/views/favorites.ejs">Favorites</a>
    <a class="nav-link" href="#">Logout</a>
 </nav>

</div>
