<!-- header to be used for all pages -->

<div class="header">

  <!-- TOP -->
  <div class="top">

    <!-- LEFT SIDE -->
    <div class="left-side">

      <div class="top-left">
        <a href="/index"><text>PlayNation</text></a>
      </div>

      <div class="bottom-left">
        <a class="nav-link" href="/console">Consoles</a>
        <text> • </text>
        <a class="nav-link" href="/game">Games</a>
        <text> • </text>
        <a class="nav-link" href="/accessory">Accessories</a>
        <text> • </text>
        <a class="nav-link" href="/all-products">All Products</a>
      </div>

    </div>


    <!-- RIGHT SIDE -->
    <div class="right-side">

      <div class="top-right">
        <a class="nav-link" href="/account">Howard24</a>
      </div>

      <nav class="bottom-right">
        <a class="nav-link" href="/index">Home</a>
        <a class="nav-link" href="/post-product">Sell</a>
        <a class="nav-link" href="/favorites">Favorites</a>
        <a class="nav-link" href="/#">Logout</a>
      </nav>
    </div>
  </div>


  <!-- SEARCH BAR -->
  <div class="search-area">
    <form action="/search" method="get" id="submit-form">
      <input class="search-bar" type="text" id="search" name="name" placeholder="Search for items...">
      <button type="submit">Search</button>
    </form>
  </div>


</div>
