<!-- header to be used for all pages -->
<div class="header">
  <a class="logo" href="/index"><h1>PlayNation</h1></a>



<ul class="myUL">
  <!-- <li><a href="#">Adele</a></li> -->

</ul>

  <nav class="header-nav">
    <a class="nav-link" href="/post-product">Post-product</a>
    <a class="nav-link" href="/favorites">Favorites</a>
    <a class="nav-link" href="/account">Account</a>
    <a class="nav-link" href="#">Logout</a>
 </nav>

</div>
