<!-- header to be used for all pages -->
<div class="header">
  <h1>PlayNation</h1>
  <nav id="topnav">
    <a id="logo" class="nav-link" href="/views/index.ejs">PlayNation Logo/ Home</a>
    <a class="nav-link" href="/views/account.ejs">Account</a>
    <a class="nav-link" href="/views/favorites.ejs">Favorites</a>
 </nav>
</div>
