<!DOCTYPE html>
<html lang="en">

<!-- supplied code -->
<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/product-view.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<!-- supplied code -->

<body>

  <%- include('partials/header') %>

  <div class="product-box">

    <div>
      <img class="product-image" src="https://images.unsplash.com/photo-1605901309584-818e25960a8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1019&q=80" alt="item-image">
    <div>

    <div class="product-info">
      <text class="title">Console</text>
      <text>$750</text>
      <text>2020 Xbox, modified to run on diesel.</text>
    </div>

    <div class="buttons">

      <form class="contact-seller-button" method="POST" action="">
        <button type="submit">Contact Seller</button>
      </form>

      <form class="favorite-button" method="POST" action="">
        <button type="submit">Favorite</button>
      </form>

    </div>


  </div>


  <%- include('partials/footer') %>

</body>

</html>
