.item-boxes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.item-box {
  display: inline-block;
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-image {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.product-info {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.item-box form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}

.item-box form button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.item-box form button:first-child {
  margin-right: 10px;
}