// FOOTER

.footer {
  display: flex;
  width: 100vw;
  height: 60px;
  background: #e16060;
  font-size: 20px;
  align-items: flex-end;
  flex-grow: 0;
  margin-bottom: 0%;
  position:static;
  bottom: 0px;
}
