// ---------HEADER----------------

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  // background: #191919;
  background: linear-gradient(233deg, rgba(0,0,0,1) 0%, rgba(11,11,119,1) 50%, rgba(249,69,18,1) 100%);
  flex-grow: 0;
  color: rgb(234, 234, 234);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// LEFT SIDE
.left-side{
  min-width: 400px;
}

.top-left{
  margin: 15px;
  font-size: 45px;
}

.bottom-left{
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin: 15px;
}

// RIGHT SIDE
.right-side{
  min-width: 275px;
}

.top-right{
  display: flex;
  justify-content: flex-end;
  margin: 15px;

}

.bottom-right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-top: 50px;
}

.search-area{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px;

}

.search-bar{
  width: 70vw;
  background-color: rgb(234, 234, 234);
}

.nav-link{
  color: rgb(204, 204, 204)
}

.title{
  color: rgb(204, 204, 204)
}


//REMOVE LINK UNDERLINE
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
