// ---------FEATURED LIST----------
.featured-list{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

//---------LOCAL ITEMS-------------

.local-products{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
