// ---------FEATURED LIST----------
.carousel{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: 40vh;
  margin-top: 10px;
}

//---------LOCAL ITEMS-------------

.local-products{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
