

.product-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image{
  display: flex;
  width: 600px;
  height:auto;
  justify-content: center;
}

.product-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size: 30px;
}
