body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.product-box{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.product-image{
  display: flex;
  max-width: 450px;
  max-height: 450px;
  margin: 15px;
}

.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

.title{
  font-size: 30px;
}

.contact-seller-button{
  margin: 15px;
}

.favorite-button{
  margin: 15px;
}
